<table>
  <thead>
    <th>Title</th>
    <th>Word Count</th>
    <th>Snippet</th>
  </thead>
  <tbody>
    <tr *ngFor="let page of pages">
      <td>
        <a
          [href]="'https://en.wikipedia.org?curid' + page.pageid"
          target="_blank"
        >
          {{ page.title }}</a
        >
      </td>
      <td>{{ page.wordcount }}</td>
      <td [innerHTML]="page.snippet"></td>
      <!-- Sanitization, mark the html elem <span> as trusted and insert it into DOM-->
      <!-- <td>{{ page.snippet }}</td> -->
      <!--Angular escaping - display <span> as plain text, not as html element, to prevent injection of malicious code into browser; XSS attack/ -->
    </tr>
  </tbody>
</table>
